<!DOCTYPE html>
<html lang="en" xmlns:th="http://thyleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thyleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>
<hr/>
<a href="/users">Back</a>
<a th:href="@{{id}/edit(id = ${user.getId()})}">Edit</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete!"/>
</form>
</body>
</html>